@import "bootstrap/dist/css/bootstrap.min.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light Mode */
body.light {
    background-color: #ffffff;
    color: #000000;
}

body.light .nav-link {
    color: #000000 !important;
}

body.light .nav-link:hover {
    color: #0830b4 !important;
}

body.light .btn-outline-secondary {
    color: #000000 !important;
}

body.light .btn-outline-secondary:hover {
    color: #ffffff !important;
    background-color: #000000 !important;
}

body.light .card {
    background-color: #ffffff;
    color: #000000;
}

body.light .navbar,
body.light .footer {
    background-color: #ffffff;
    color: #000000;
}

body.light p {
    color: #000000;
}

body.light .underline {
    background-color: #000000;
}

body.light .border {
    border-color: #000000 !important;
}

body.light .border-top {
    border-color: #000000 !important;
}

body.light .border-bottom {
    border-color: #000000 !important;
}

body.light .footer-text a {
    color: #000000;
}

/* Dark Mode */
body.dark {
    background-color: #000000;
    color: #ffffff;
}

body.dark .nav-link {
    color: #ffffff !important;
}

body.dark .btn-outline-secondary {
    color: #ffffff !important;
}

body.dark .btn-outline-secondary:hover {
    color: #000000 !important;
    background-color: #ffffff !important;
}

body.dark .card {
    background-color: #000000;
    color: #ffffff;
}

body.dark .navbar,
body.dark .footer {
    background-color: #000000;
    color: #ffffff;
}

body.dark .nav-link {
    color: #ffffff !important;
}

body.dark .nav-link:hover {
    color: #0fe2e9 !important;
}

body.dark p {
    color: #e0e0e0;
}

body.dark .underline {
    background-color: #ffffff;
}

body.dark .border {
    border-color: #ffffff !important;
}

body.dark .border-top {
    border-color: #ffffff !important;
}

body.dark .border-bottom {
    border-color: #ffffff !important;
}

body.dark .footer-text a {
    color: #ffffff;
}